* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}

:root {
    --Primary-color-black-green: #143c3c;
    --text-color-black-gray: #575d5e;
    --text-color-white: #fff;
    --Primary-color-black: #152427;
    --Scondery-color-light-green: #e2eddf;
    --text-color-light-gray: #7d8188;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

.btn {
    width: 173px;
    height: 57px;
    display: inline-block;
    text-align: center;
    font-family: "Public Sans";
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    color: var(--text-color-white, #fff);
    font-size: 1.8rem;
    font-weight: 500;
    background: var(--Primary-color-black-green, #143c3c);
}
.btn:hover {
    opacity: 0.8;
}
button {
    cursor: pointer;
}
/* header */
.header-container {
    padding: 28px 13px;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list {
    margin-left: 387px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__list li {
    padding: 4px 19px;
}
.nav__title {
    position: relative;
    color: var(--text-color-black-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.8rem;
}
.nav__title--active,
.nav__title:hover {
    color: var(--Primary-color-black, #152427);
}
.nav__title--active::before {
    display: inline-block;
    position: absolute;
    bottom: -32px;
    left: 0;
    content: "";
    width: 16px;
    height: 2px;
    background: var(--Primary-color-black-green, #143c3c);
}
.nav__btn {
    margin-left: 69px;
}
.header-br {
    margin-top: 13px;
    content: "";
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}
.hero-section {
    position: relative;
}
.decor-element {
    z-index: 3;
    position: absolute;
}
.decor__top-left {
    top: 35px;
    left: 254px;
}
.decor__bottom-right {
    top: 289px;
    right: 34px;
}
.decor-circle {
    z-index: 1;
    position: absolute;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    top: 182px;
    left: 626px;
}
.hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 76px;
}
.hero__content--title {
    margin-top: 113px;
    width: 368px;
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 5rem;
    font-weight: 800;
    line-height: 6rem;
}
.hero__content--subtitle {
    margin-top: 20px;
    width: 341px;
    color: var(--text-color-black-gray, #575d5e);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
}
.hero__content--buttons {
    display: flex;
    align-items: center;
    gap: 36px;
    margin-top: 42px;
}
.play-icon-cta {
    display: flex;
    align-items: center;
    transition: color 0.3s;
}
.play-icon-img {
    position: relative;
}
.play-icon-img::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -7px;
    left: -7px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid var(--Primary-color-black-green);
    border-left: 4px solid var(--Primary-color-black-green);
    transform: rotate(-45deg);
    transition: 0.5s ease;
}
.play-icon-cta:hover .play-icon-img::before {
    transform: rotate(135deg);
}
.play__icon--info {
    margin-left: 15px;
    color: #152427;
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
}
.hero-images {
    z-index: 2;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}
.hero__img--card {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    overflow: hidden;
}
.hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__img--2 {
    margin-top: 77px;
}
.collab {
    margin-top: 130px;
}
.colllab-list {
    padding: 76px 122px;
    background: #e2eddf;
    border-radius: 200px;
}
.clollab-card {
    width: 897px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    column-gap: 50px;
}
/* our-services */

.our-services {
    margin-top: 116px;
}
.services-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
}
.header-content-01 {
    display: flex;
    align-items: center;
}
.header__rect--small {
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black, #152427);
}
.header-content-02 {
    position: relative;
    display: flex;
}
.header__rect--big {
    position: absolute;
    bottom: 23px;
    left: 344px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--Primary-color-black, #152427);
}

.header__title {
    margin-top: 12px;
    color: var(--Primary-color-black, #152427);
    /* Heading/H3 42px bold */
    font-family: Poppins;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.2rem;
}
.header__subtitle {
    margin-left: 21px;
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;
}
.navigation-arrows {
    margin-left: 422px;
}
.arrow {
    color: #152427;
    border: none;
    width: 54px;
    height: 54px;
    border-radius: 54px;
    background: var(--Scondery-color-light-green, #e2eddf);
}
.arrow:hover {
    color: #fff;
    background: var(--Primary-color-black-green, #143c3c);
}
.arrow-right {
    margin-left: 17px;
}
.services-list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}
.service-card:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}
.service-card:hover .card-content {
    padding: 24px 84px 24px 18px;
}
.card-img {
    width: 370px;
    height: 318px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.card-content {
    padding: 26px 0px 12px;
    border-radius: 0 0 20px 20px;
}

.card__content--title {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
}
.card__content--subtitle {
    width: 268px;
    margin-top: 18px;
    color: var(--text-color-light-gray, #7d8188);
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
}
.about-us {
    margin-top: 149px;
}
.about__image--container {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    column-gap: 50px;
}
.about-section {
    position: relative;
}
.about-decor__top-left {
    z-index: 1;
    top: -18px;
    left: 46px;
    position: absolute;
}

.about-image {
    width: 286px;
    height: 480px;
    border-radius: 210px;
    box-shadow: 0 4px 234px 11px rgba(59, 137, 71, 0.25);
    object-fit: cover;
}
.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 21px;
}
.about__image--01 {
    margin-top: 90px;
}
.about__image--02 {
    margin-top: 13px;
}
.about_desc {
    margin-top: 11px;
    color: var(--text-color-light-gray, #7d8188);
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;
}

.about__stats--item {
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stats-percentage {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.2rem;
}
.stats-desc {
    width: 364px;
    color: var(--text-color-light-gray, #7d8188);
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
}
.about_rect {
    margin-top: 20px;
    content: "";
    display: inline-block;
    width: 485px;
    height: 1px;
    background: #83a17d;
}
.about-img-area {
    position: relative;
}
.small-card {
    top: 418px;
    left: 457px;
    position: absolute;
    padding: 19px 23px 11px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 7px 54px 0 rgba(154, 154, 154, 0.25);
}
.small__card--title {
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4rem;
}
.small__card--desc {
    margin-top: 3px;
    color: var(--text-color-black-gray, #575d5e);
    font-family: "Public Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4rem;
}
.small__card--p {
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
}
.small__card--40 {
    margin-top: 5px;
}
.small__card--loading {
    display: flex;
    justify-content: right;
}
.small__card--rect {
    position: relative;
    display: inline-block;
    content: "";
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}
.small__card--rect::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.small__card--team {
    margin-top: 5px;
    display: flex;
}
.small__card--team-img {
    margin-left: 30px;
}
.small__card--img {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #fff;
    object-fit: cover;
    margin-left: -10px;
}
.small-circle {
    display: inline-block;
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: var(--Primary-color-black-green, #143c3c);
    border: 3px solid #eaeaea;
}
.process {
    margin-top: 115px;
}
.process-title {
    width: 477px;
}
.process-header__rect--big {
    left: 420px;
}
.process__content {
    margin-top: 81px;
}
.process__step {
    padding: 0 41px 0 20px;
}
.process--highlight {
    border-radius: 33px;
    background: var(--Scondery-color-light-green, #e2eddf);
}
.process__step--content {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    height: 185px;
    align-items: center;
}
.process__step--number {
    color: var(--Primary-color-black-green, #143c3c);
    /* Heading/H1 72px bold */
    font-family: Poppins;
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.2rem;
}

.process__step--highlight {
    position: relative;
}

.process__step--image {
    position: absolute;
    width: 450px;
    height: 444px;
    object-fit: cover;
    right: 92px;
    bottom: 0;
}
.process__step--title {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
}
.process__step--description {
    color: var(--text-color-light-gray, #7d8188);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.8rem;
}
.process__step--link {
    position: absolute;
    left: 270px;
    bottom: 50px;
    color: var(--text-color-black-gray, #575d5e);
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
    text-decoration: underline;
}
.process-rect {
    display: inline-block;
    content: "";
    width: 1131px;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}
.project-video {
    margin-top: 148px;
    padding: 116px 0 63px;
    background: var(--Primary-color-black-green, #143c3c);
}

.video__content--header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.video__content--title {
    margin-top: 0;
    width: 457px;
    color: #e7f9f9;
}
.video__content {
    position: relative;
}
.video__rect {
    left: 300px;
    bottom: 24px;
    background: var(--Scondery-color-blue, #83a17d);
}
.video__content--desc {
    color: var(--Scondery-color-gray, #6a8383);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.8rem; /* 155.556% */
}
.video__content--link {
    display: inline-block;
    margin-top: 13px;
}
.video__content--link-subtitle {
    color: #fff;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.8rem;
}
.video__content--link-icon {
    margin-left: 26px;
}
.responsive-video {
    position: relative;
    margin-top: 72px;
}
.video {
    width: 1140px;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}
.video-decor {
    position: absolute;
    right: -100px;
    top: -230px;
}
.video__play--icon {
    position: absolute;
    display: inline-block;
    border: none;
    top: 213px;
    left: 511px;
    width: 118px;
    height: 118px;
    border-radius: 118px;
    background: rgba(0, 0, 0, 0.7);
}
.feature-customer {
    margin-top: 140px;
}
.feature-customer__header {
    margin-left: auto;
    margin-right: auto;
    width: 547px;
}
.feature-header__title {
    color: var(--Primary-color-black, #152427);
    text-align: center;
    font-family: Poppins;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.2rem; /* 123.81% */
}
.feature-header__desc {
    color: var(--text-color-light-gray, #7d8188);
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;
}
.features-list {
    margin-top: 113px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}
.feature-item {
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    padding: 60px 43px;
}
.feature-item:hover {
    transition: 0.5s ease;
    border: none;
    margin-top: -59px;
    border-radius: 160px;
    background: #fff;
    box-shadow: 0 36px 100px 0 rgba(111, 120, 111, 0.2);
}
.feature-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.feature-title {
    margin-top: 26px;
    text-align: center;
    color: #152427;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
}
.feature-description {
    margin-top: 9px;
    color: var(--text-color-light-gray, #7d8188);
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
}
.blog-articles {
    margin-top: 184px;
}
.blog-article__header--grid {
    display: flex;

    align-items: center;
    justify-content: space-between;
}
.blog-article__header--title {
    position: relative;
    width: 520px;
}
.blog-article__rect {
    left: 485px;
}
.blog-article__header--right {
    width: 409px;
    color: var(--text-color-light-gray, #7d8188);
    /* Paragraph/h4 16px medium */
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;
}
.blog-list-wrapper {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.blog__card {
    width: 360px;
    height: 521px;
}
.blog__card--image {
    width: 360px;
    height: 317px;
    border-radius: 40px 40px 0 0;
}
.blog__card--tag {
    display: inline-block;
    line-height: 26px;
    width: 107px;
    height: 26px;
    border-radius: 20px;
    background: var(--Scondery-color-light-green, #e2eddf);
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2rem;
    border: none;
}

.blog__card--title {
    max-width: 346px;
    margin-top: 13px;
    color: var(--Primary-color-black-green, #143c3c);
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}
.blog__card--title:nth-of-type(2) {
    max-width: 281px;
}
.card-content__date {
    width: 337px;
}
.card-content__date {
    margin-top: 38px;
}
.card-content__rect {
    display: inline-block;
    content: "";
    width: 337px;
    height: 1px;
    background: #c4c4c4;
}

.blog__card--date {
    text-align: right;
    margin-top: 16px;
    color: var(--text-color-black-gray, #575d5e);
    /* Paragraph/10px */
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2rem;
}
.blog-card:hover .blog__card--tag {
    background: var(--Primary-color-black-green, #143c3c);
    color: #fff;
}
.blog-card:hover .card-content__date {
    margin-top: 8px;
    width: 297px;
}
.blog-card:hover .card-content__rect {
    width: 297px;
}
.blog-card:hover {
    background: var(--text-color-white, #fff);
    box-shadow: 0 12px 74px 0 rgba(91, 91, 91, 0.25);
    border-radius: 40px 40px 20px 20px;
}
.blog-card:hover .blog__card-content {
    transition: 0.3s ease-in;
    padding: 26px 30px 12px;
}
.footer {
    margin-top: 102px;
    padding: 70px 0 50px;
    background: var(--Primary-color-black-green);
}

.footer-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 150px;
}

.footer-heading {
    margin-top: 0;
    color: #fff;
    font-size: 32px;
}

.footer-heading::after {
    width: 0;
    height: 0;
}

.footer-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    padding-bottom: 36px;
    width: 355px;
    border-bottom: 1px solid #6a8383;
}
.from-btn {
    border: none;
    background: none;
}
.footer-form__input {
    padding-right: 10px;
    color: #6a8383;
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    border: none;
    outline: none;
    background: transparent;
}

.footer__social {
    display: flex;
    align-items: center;
    column-gap: 22px;
}

.footer__social {
    margin-top: 45px;
}

.footer__social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #265252;
}

.footer__social-btn:hover {
    color: #fff;
    background: #a75325;
}

.footer-nav {
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
}

.footer-column__heading {
    color: #fff;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.footer__list {
    margin-top: 5px;
}

.footer__link {
    color: #6a8383;
    font-family: "Public Sans";
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer-separate {
    margin-top: 45px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}
