* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}

:root {
    --Primary-color-black-green: #143c3c;
    --text-color-black-gray: #575d5e;
    --text-color-white: #fff;
    --Primary-color-black: #152427;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

.btn {
    width: 173px;
    height: 57px;
    display: inline-block;
    text-align: center;
    font-family: "Public Sans";
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    color: var(--text-color-white, #fff);
    font-size: 1.8rem;
    font-weight: 500;
    background: var(--Primary-color-black-green, #143c3c);
}
.btn:hover {
    opacity: 0.8;
}
button {
    cursor: pointer;
}
/* header */
.header-container {
    padding: 28px 13px;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list {
    margin-left: 387px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__list li {
    padding: 4px 19px;
}
.nav__title {
    position: relative;
    color: var(--text-color-black-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.8rem;
}
.nav__title--active,
.nav__title:hover {
    color: var(--Primary-color-black, #152427);
}
.nav__title--active::before {
    display: inline-block;
    position: absolute;
    bottom: -32px;
    left: 0;
    content: "";
    width: 16px;
    height: 2px;
    background: var(--Primary-color-black-green, #143c3c);
}
.nav__btn {
    margin-left: 69px;
}
.header-br {
    margin-top: 13px;
    content: "";
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}
.hero-section {
    position: relative;
}
.decor-element {
    z-index: 3;
    position: absolute;
}
.decor__top-left {
    top: 35px;
    left: 254px;
}
.decor__bottom-right {
    top: 289px;
    right: 34px;
}
.decor-circle {
    z-index: 1;
    position: absolute;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    top: 182px;
    left: 626px;
}
.hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 76px;
}
.hero__content--title {
    margin-top: 113px;
    width: 368px;
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 5rem;
    font-weight: 800;
    line-height: 6rem;
}
.hero__content--desc {
    margin-top: 20px;
    width: 341px;
    color: var(--text-color-black-gray, #575d5e);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
}
.hero__content--buttons {
    display: flex;
    align-items: center;
    gap: 36px;
    margin-top: 42px;
}
.play-icon {
    display: flex;
    align-items: center;
    transition: color 0.3s;
}
.play__icon--info {
    margin-left: 15px;
    color: #152427;
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
}
.hero-images {
    z-index: 2;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}
.hero__img--card {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    overflow: hidden;
}
.hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    transform: scale(1);
}
.hero__img--card:hover .hero__img {
    transform: scale(1.1);
    cursor: pointer;
}
.hero__img--2 {
    margin-top: 77px;
}
